[submodule "TDA-ABB"]
	path = TDA-ABB
	url = https://github.com/mpata2000/TDA-ABB
[submodule "TDA-Lista"]
	path = TDA-Lista
	url = https://github.com/mpata2000/TDA-Lista
[submodule "Una-Aventura-Pokemon"]
	path = Una-Aventura-Pokemon
	url = https://github.com/mpata2000/Una-Aventura-Pokemon
